.pk {
    background-color: red;
}

.jaiB {
    background-color: blue;
}

.vijay {
    background-color: yellow;
}

.mt {
    background-color: aqua;
}

.rahul {
    background-color: chartreuse;
}

#koti {
    background-color: cyan;
}